<<<<<<< HEAD
/* todos */
*{
  text-decoration: none;
  margin: 0px;
  box-sizing: border-box;
  font-size: 0px;
}

html,body{
  height:100%;
}

img{
  height: 100%;
  width: 100%;
}

/* classes */
.container{
  width: 70%;
  margin: auto;
  background-color: #992121;
}

.escondido{
  position: absolute;
  left: -99999px;
}

/* sistema de grid */
.row{
  width: 100%;
  padding:0px;
}

.col-1{
  width: 10%;
  display: inline-block;
  padding: none;
}
.col-2{
  width: 20%;
  display: inline-block;
  padding: none;
}
.col-3{
  width: 30%;
  display: inline-block;
  padding: none;
}
.col-4{
  width: 40%;
  display: inline-block;
  padding: none;
}
.col-5{
  width: 50%;
  display: inline-block;
  padding: none;
}
.col-6{
  width: 60%;
  display: inline-block;
  padding: none;
}
.col-7{
  width: 70%;
  display: inline-block;
  padding: none;
}
.col-8{
  width: 80%;
  display: inline-block;
  padding: none;
}
.col-9{
  width: 90%;
  display: inline-block;
  padding: none;
}
.col-10{
  width: 100%;
  display: inline-block;
  padding: none;
}

.no-padding{
  padding:0px;
  margin-left: 0px;
  margin-right: 0px;
}

.teste{
  height: 10px;
  background-color: #FFF;
}

@media screen and (max-width: 992px) {

  #div_menu_superior_mobile{
    height: 250px;
    background-color: #000;
  }

  #div_img_menu{
    height: 100px;
    margin-top: 75px;
  }

  #div_menu_superior{
    position: absolute;
    left: -99999px;
  }

  .opcao_mobile{
    width: 100%;
    height: 200px;
    background-color: #000;
    font-family: Futura Bk Bt, Arial;
    font-size: 60px;
    border-bottom:2px solid #6B6B6B;
    color: #FFF;
    line-height: 200px;
    text-indent: 5%;
    text-shadow: 1px 1px 1px #FFF;
  }


  .opcao_mobile:hover{
    background-color: #000;
    color: #FFF;
  }

  .opcao_mobile_desktop{
    position: absolute;
    left: -99999px;
  }

  #inicio{
    margin-top: -20px;
    height: 700px;
    background-color: #000;
    box-shadow: 0px 3px 4px #666;
    -moz-box-shadow: 0px 3px 4px #666;
    -webkit-box-shadow: 0px 3px 4px #666;
  }

  #titulo_pagina{
    color: #DFDFDF;
    text-align: center;
    font-size: 65px;
    font-family: Futura Bk Bt;
    font-weight: bold;
    line-height: 200px;
  }

  .lateral_mobile{
    width: 10%; 
  }

  .meio_mobile{
    width: 80%;
  }

  #logo_fenrir{
    height: auto;
    width: 100%;
    margin:auto;
    display: block;
  }

  #menu_icon_fenrir{
    width: 100%;
  }

  #descricao_pagina{
    color: #CCC;
    text-align: justify;
    font-size: 40px;
    font-family: Futura Bk Bt;
    margin-top: 40px;
  }

  #resumo_inicial{
    font-size: 24px;
    margin-top: 100px;
    font-family: Futura Bk Bt, arial;
    text-align: justify;
  }

  footer{
    margin-top: 100px;
    height: 100px;
    background-color: #000;
  }

  #texto_final{
    color: #FFF;
    font-family: Futura Bk Bt, Arial;
    font-size: 16px;
    line-height: 100px;
    text-align: center;
  }

  #texto_final a{
    color: #FFF;
    bottom: 0px;
  }

  #div_titulo{
    height:80px;
    margin-top:50px;
    color:#000;
    padding: 0px;
  }

  #titulo{
    font-size:45px;
    font-family:Futura Bk Bt, Arial;
  }
  
  .fonte_especial_mundo{
    font-size: 16px;
  }

  #descricao{
    font-size:38px;
    font-family: Futura Bk Bt, Arial;
    color: #000;
  }

  #div_contos{
    height:500px;
    background-color: #000;
  }

  .caixa_conto{
    background-color: #EBEBEB;
    border:1px solid #EBEBEB;
    height:500px;
    box-shadow: 1px 2px 3px #000;
    border-radius:5px;
    margin-top: 50px;
  }

  .caixa_conto:hover{
    transition-duration: 0.4s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #000;
    cursor: pointer;
  }

  .conto_mobile{
    width: 100%;
    height: 1000px;
  }

  .conto_esquerda{
    float:left;
  }

  .conto_meio{ 
    float:left;
  }


  .conto_direita{
    float:left;
  }

  .img_conto{
    width:100%;
    height:auto;
    border-radius: 5px 5px 0px 0px;
  }

  .div_titulo_conto{
    width:100%;
    height: 10%;
    border:1px solid #EBEBEB;
  }

  .titulo_conto{
    width: 100%;
    font-size:45px;
    font-weight:bold;
    padding-left:1%;
    font-family: Futura Bk Bt, Arial;
  }


  .div_paragrafo_conto{
    height:auto;
    border:1px solid #EBEBEB;
  }

  .paragrafo_conto{
    width: 100%;
    text-align:justify;
    font-size:38px;
    padding:2%;
    font-family: Futura Bk Bt, Arial;
    color: #000;
  }

  #texto_conto{
    width: 100%;
    text-align:justify;
    font-size:16px;
    padding:2%;
    font-family: Futura Bk Bt, Arial;
    color: #000;
  }

  #mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
  }
    
  #boxes .window {
    position:absolute;
    left:0;
    top:0;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
  }

  #boxes #dialog {
    width:60%; 
    height:500px;
    background-color:#ffffff;
    border: 3px solid #FFF;
    overflow: auto;
  }

  .link_fake{
    font-size: 16px;
    color:#4444FF;
  }

  #div_titulo_modal{
    padding:0% 1% 0% 1%;
    height:40px;
    border:1px solid #000;
    background-color:#000;

  }

  #titulo_modal{
    font-size:32px;
    font-family: Futura Bk Bt;
    color:#FFF;
  }

  #div_fechar_modal{
    float:right;
    padding:0px;
    height:40px;
    border:1px solid #f44336;
    background-color:#f44336;
    font-size:16px;
  }

  #img_fechar_modal{
    height:40px;
    width:auto;
    margin:auto;
    display:block;
  }  

 
}

@media screen and (min-width: 993px) {
  #div_menu_superior_mobile{
    position: absolute;
    left: -9999px;
  }

  #div_menu_superior{
    height: 100px;
    background-color: #000;
  }

  #menu_icon_desktop{
     height: 30px;
    width: 30px;
    margin: auto;
    margin-right: 0px;
    display: block;
    margin-top: -50px;
  }

  #menu_icon_fenrir{
    height: 90px;
    width: auto;
    margin-top: 0px;
  }


  .opcao_mobile_desktop{
    width: 100%;
    height: 65px;
    background-color: #333;
    font-family: Futura Bk Bt, Arial;
    font-size: 20px;
    border-bottom:2px solid #6B6B6B;
    color: #FFF;
    line-height: 50px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    position: relative;
    display: none;
  }

  .opcao_mobile_desktop:hover{
    background-color: #FFF;
    color: #000;
  }

  .primeiro{
    border-top: 2px solid #6B6B6B;
  }

  #inicio{
    margin-top: -20px;
    height: 480px;
    background-color: #000;
    box-shadow: 0px 3px 4px #666;
    -moz-box-shadow: 0px 3px 4px #666;
    -webkit-box-shadow: 0px 3px 4px #666;
  }

  #logo_fenrir{
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    }

  #descricao_pagina{
    color: #CCC;
    text-align: justify;
    font-size: 25px;
    margin-left: 0px;
    font-family: Futura Bk Bt,arial;
    margin-top: 35px;
  }

  #resumo_inicial{
    font-size: 24px;
    margin-top: 100px;
    font-family: Futura Bk Bt, arial;
    text-align: justify;
  }

  footer{
    margin-top: 100px;
    height: 100px;
    background-color: #000;
  }

  #texto_final{
    color: #FFF;
    font-family: Futura Bk Bt, Arial;
    font-size: 16px;
    line-height: 100px;
    text-align: center;
  }

  #texto_final a{
    color: #FFF;
    bottom: 0px;
  }

  #div_titulo{
    height:80px;
    margin-top:50px;
    color:#000;
    padding: 0px;
  }

  #titulo{
    font-size:38px;
    font-family:Futura Bk Bt, Arial;
  }
  
  .fonte_especial_mundo{
    font-size: 16px;
  }

  #descricao{
    font-size:16px;
    font-family: Futura Bk Bt, Arial;
    color: #000;
  }

  #div_contos{
    height:500px;
  }

  .caixa_conto{
    background-color: #EBEBEB;
    border:1px solid #EBEBEB;
    height:500px;
    box-shadow: 1px 2px 3px #000;
    border-radius:5px;
    margin-top: 50px;
  }

  .caixa_conto:hover{
    transition-duration: 0.4s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #000;
    cursor: pointer;
  }

  .conto_esquerda{
    margin-right:3%;
    float:left;
  }

  .conto_meio{
    margin-right:3%;
    margin-left:2%; 
  }


  .conto_direita{
    margin-left: 2%;
    float:right;
  }

  .img_conto{
    width:100%;
    height:auto;
    border-radius: 5px 5px 0px 0px;
  }

  .div_titulo_conto{
    width:100%;
    height: 20%;
    border:1px solid #EBEBEB;
  }

  .titulo_conto{
    width: 100%;
    font-size:24px;
    font-weight:bold;
    margin-top:20px;
    padding-left:1%;
    font-family: Futura Bk Bt, Arial;
  }


  .div_paragrafo_conto{
    height:auto;
    border:1px solid #EBEBEB;
  }

  .paragrafo_conto{
    width: 100%;
    text-align:justify;
    font-size:16px;
    padding:2%;
    font-family: Futura Bk Bt, Arial;
    color: #000;
  }

  #texto_conto{
    width: 100%;
    text-align:justify;
    font-size:16px;
    padding:2%;
    font-family: Futura Bk Bt, Arial;
    color: #000;
  }

  #mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
  }
    
  #boxes .window {
    position:absolute;
    left:0;
    top:0;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
  }

  #boxes #dialog {
    width:60%; 
    height:500px;
    background-color:#ffffff;
    border: 3px solid #FFF;
    overflow: auto;
  }

  .link_fake{
    font-size: 16px;
    color:#4444FF;
  }

  #div_titulo_modal{
    padding:0% 1% 0% 1%;
    height:40px;
    border:1px solid #000;
    background-color:#000;

  }

  #titulo_modal{
    font-size:32px;
    font-family: Futura Bk Bt;
    color:#FFF;
  }

  #div_fechar_modal{
    float:right;
    padding:0px;
    height:40px;
    border:1px solid #f44336;
    background-color:#f44336;
    font-size:16px;
  }

  #img_fechar_modal{
    height:40px;
    width:auto;
    margin:auto;
    display:block;
  }
}
=======
/* todos */
*{
  text-decoration: none;
  margin: 0px;
  box-sizing: border-box;
}

html,body{
  height:100%;
}

img{
  height: 100%;
  width: 100%;
}

/* classes */
.container{
  width: 70%;
  margin: auto;
  background-color: #992121;
}

.escondido{
  position: absolute;
  left: -99999px;
}

/* sistema de grid */
.row{
  width: 100%;
  padding:0px;
}

.col-1{
  width: 10%;
  display: inline-block;
  padding: none;
}
.col-2{
  width: 20%;
  display: inline-block;
  padding: none;
}
.col-3{
  width: 30%;
  display: inline-block;
  padding: none;
}
.col-4{
  width: 40%;
  display: inline-block;
  padding: none;
}
.col-5{
  width: 50%;
  display: inline-block;
  padding: none;
}
.col-6{
  width: 60%;
  display: inline-block;
  padding: none;
}
.col-7{
  width: 70%;
  display: inline-block;
  padding: none;
}
.col-8{
  width: 80%;
  display: inline-block;
  padding: none;
}
.col-9{
  width: 90%;
  display: inline-block;
  padding: none;
}
.col-10{
  width: 100%;
  display: inline-block;
  padding: none;
}

.no-padding{
  padding:0px;
  margin-left: 0px;
  margin-right: 0px;
}

.teste{
  height: 10px;
  background-color: #FFF;
}

@media screen and (max-width: 992px) {

  #div_menu_superior_mobile{
    height: 250px;
    background-color: #000;
  }

  #div_img_menu{
    height: 100px;
    margin-top: 75px;
  }

  #div_menu_superior{
    position: absolute;
    left: -99999px;
  }

  .opcao_mobile{
    width: 100%;
    height: 200px;
    background-color: #000;
    font-family: Futura Bk Bt, Arial;
    font-size: 60px;
    border-bottom:2px solid #6B6B6B;
    color: #FFF;
    line-height: 200px;
    text-indent: 5%;
    text-shadow: 1px 1px 1px #FFF;
  }


  .opcao_mobile:hover{
    background-color: #000;
    color: #FFF;
  }

  .opcao_mobile_desktop{
    position: absolute;
    left: -99999px;
  }

  #inicio{
    margin-top: -20px;
    height: 700px;
    background-color: #000;
    box-shadow: 0px 3px 4px #666;
    -moz-box-shadow: 0px 3px 4px #666;
    -webkit-box-shadow: 0px 3px 4px #666;
  }

  #titulo_pagina{
    color: #DFDFDF;
    text-align: center;
    font-size: 65px;
    font-family: Futura Bk Bt;
    font-weight: bold;
    line-height: 200px;
  }

  .lateral_mobile{
    width: 10%; 
  }

  .meio_mobile{
    width: 80%;
  }

  #logo_fenrir{
    height: auto;
    width: 100%;
    margin:auto;
    display: block;
  }

  #menu_icon_fenrir{
    width: 100%;
  }

  #descricao_pagina{
    color: #CCC;
    text-align: justify;
    font-size: 40px;
    font-family: Futura Bk Bt;
    margin-top: 40px;
  }

  #resumo_inicial{
    font-size: 24px;
    margin-top: 100px;
    font-family: Futura Bk Bt, arial;
    text-align: justify;
  }

  footer{
    margin-top: 100px;
    height: 100px;
    background-color: #000;
  }

  #texto_final{
    color: #FFF;
    font-family: Futura Bk Bt, Arial;
    font-size: 16px;
    line-height: 100px;
    text-align: center;
  }

  #texto_final a{
    color: #FFF;
    bottom: 0px;
  }


}

@media screen and (min-width: 993px) {
  #div_menu_superior_mobile{
    position: absolute;
    left: -9999px;
  }

  #div_menu_superior{
    height: 100px;
    background-color: #000;
  }

  #menu_icon_desktop{
    height: 30px;
    width: 30px;
    margin-top: 25px;
    float: right;
    position: absolute;
  }

  #menu_icon_fenrir{
    height: 90px;
    width: auto;
    margin-top: -10px;
    display: block;
    position: absolute;
  }


  .opcao_mobile_desktop{
    width: 100%;
    height: 65px;
    background-color: #333;
    font-family: Futura Bk Bt, Arial;
    font-size: 20px;
    border-bottom:2px solid #6B6B6B;
    color: #FFF;
    line-height: 50px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    position: relative;
    display: none;
  }

  .opcao_mobile_desktop:hover{
    background-color: #FFF;
    color: #000;
  }

  .primeiro{
    border-top: 2px solid #6B6B6B;
  }

  #inicio{
    margin-top: -20px;
    height: 480px;
    background-color: #000;
    box-shadow: 0px 3px 4px #666;
    -moz-box-shadow: 0px 3px 4px #666;
    -webkit-box-shadow: 0px 3px 4px #666;
  }

  #logo_fenrir{
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    }

  #descricao_pagina{
    color: #CCC;
    text-align: justify;
    font-size: 25px;
    margin-left: 0px;
    font-family: Futura Bk Bt,arial;
    margin-top: 35px;
  }

  #resumo_inicial{
    font-size: 24px;
    margin-top: 100px;
    font-family: Futura Bk Bt, arial;
    text-align: justify;
  }

  footer{
    margin-top: 100px;
    height: 100px;
    background-color: #000;
  }

  #texto_final{
    color: #FFF;
    font-family: Futura Bk Bt, Arial;
    font-size: 16px;
    line-height: 100px;
    text-align: center;
  }

  #texto_final a{
    color: #FFF;
    bottom: 0px;
  }
}
>>>>>>> 77f66562c776497d8407ea46370a22a9bc33de50
